In [11]:
import pandas as pd
import scipy.stats

In [2]:
bike_path = "clean/bike_data.csv"
city_path = "clean/Cities.csv"
bike_scores = pd.read_csv(bike_path)
weather_scores = pd.read_csv(city_path)
bike_scores

,City,Overall Score,Ridership,Safety,Acceleration,Network,Reach
0,"SPRINGDALE, AR",3.0,1.3,2.2,3.0,2.2,4.0
1,"ENID, OK",2.4,1.0,1.6,NaN,3.2,3.8
2,"DUBUQUE, IA",2.1,1.6,2.3,0.5,2.2,3.8
3,"SOUTH BEND, IN",2.0,1.7,1.9,0.6,2.1,3.7
4,"CRESTED BUTTE, CO",2.6,3.5,2.8,0.7,2.5,3.6
...,...,...,...,...,...,...,...
505,"BRIELLE, NJ",0.6,1.0,0.4,NaN,0.8,0.0
506,"TATAMY, PA",0.5,0.9,0.2,NaN,0.8,0.0
507,"FOXBOROUGH, MA",0.5,0.9,0.2,NaN,0.8,0.0
508,"HOOKSETT, NH",0.5,0.8,0.2,NaN,0.8,0.0
509,"PITTSFORD, NY",0.4,0.9,0.0,NaN,0.8,0.0

In [3]:
weather_scores = weather_scores.drop('Unnamed: 0', axis = 1)
weather_scores['City'] = weather_scores['City'].str.upper()
weather_scores

                   City  Value
0      ARDEN-ARCADE, CA      1
1    CITRUS HEIGHTS, CA      1
2         ROSEVILLE, CA      1
3             DAVIS, CA      1
4          GLENDALE, CA      1
..                  ...    ...
595        SYRACUSE, NY    100
596      YOUNGSTOWN, OH    100
597       KETCHIKAN, AK    100
598           SITKA, AK    100
599          JUNEAU, AK    100

[600 rows x 2 columns]

In [4]:
#one csv had 510 other had 600 left with 317
merge_data = pd.merge(bike_scores, weather_scores, on = 'City')
merge_data

,City,Overall Score,Ridership,Safety,Acceleration,Network,Reach,Value
0,"SPRINGDALE, AR",3.0,1.3,2.2,3.0,2.2,4.0,55
1,"SOUTH BEND, IN",2.0,1.7,1.9,0.6,2.1,3.7,86
2,"KALAMAZOO, MI",1.9,1.7,1.7,0.6,2.2,3.6,85
3,"SPRINGFIELD, MO",1.9,1.8,1.3,0.5,2.2,3.5,63
4,"MEDFORD, OR",1.9,1.1,1.8,NaN,1.6,3.2,39
...,...,...,...,...,...,...,...,...
312,"ROCKFORD, IL",1.3,1.6,1.4,0.5,2.1,0.9,96
313,"CLARKSVILLE, TN",1.1,1.3,1.1,0.3,2.0,0.8,53
314,"CHEYENNE, WY",1.2,1.6,1.3,0.4,2.1,0.7,61
315,"WHEELING, WV",1.2,0.8,1.8,NaN,1.6,0.5,82
316,"BELLEVUE, NE",1.3,1.3,1.8,NaN,1.6,0.4,82

In [23]:
merge_data.to_csv('clean/merged_data.csv', index = False, header = True)

In [ ]:
connection_string = "postgres:Chasedog10:5432/best_biking"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
engine.table_names()

In [ ]:
merge_data = merge_data.set_index("City", inplace = True)
weather_scores = weather_scores.set_index("City", inplace = True)


merge_data.to_sql(name='Bike & Weather Scores', con=engine, if_exists='append', index=True)
weather_scores.to_sql(name='Good Weather Score', con=engine, if_exists='append', index=True)

In [14]:
merge_data[['City Name','State']] = merge_data.City.str.split(", ",expand=True) 
#merge_data.to_csv('clean/merege2_data.csv', index = False, header = True)
pregroup = merge_data.drop('City', axis = 1)
pregroup.to_csv('clean/merge2_data.csv', index = False, header = True)
pregroup.head()

,Overall Score,Ridership,Safety,Acceleration,Network,Reach,Value,City Name,State
0,3.0,1.3,2.2,3.0,2.2,4.0,55,SPRINGDALE,AR
1,2.0,1.7,1.9,0.6,2.1,3.7,86,SOUTH BEND,IN
2,1.9,1.7,1.7,0.6,2.2,3.6,85,KALAMAZOO,MI
3,1.9,1.8,1.3,0.5,2.2,3.5,63,SPRINGFIELD,MO
4,1.9,1.1,1.8,NaN,1.6,3.2,39,MEDFORD,OR

In [18]:
state_data = pregroup.groupby(['State']).mean()
state_data = state_data.rename(columns={"Overall Score": "Bike Score", "Value": "Good Weather %ile", "City Name" : "City"})
state_data = state_data[['Good Weather %ile', 'Bike Score', 'Ridership', 'Safety', 'Acceleration', 'Network', 'Reach']]
state_data

,Good Weather %ile,Bike Score,Ridership,Safety,Acceleration,Network,Reach
State,,,,,,,
AK,89.333333,1.866667,1.900000,2.066667,0.533333,2.200000,2.633333
AL,49.833333,1.633333,1.233333,1.383333,1.500000,1.466667,2.133333
AR,56.600000,2.120000,1.360000,2.000000,1.860000,2.000000,2.400000
AZ,15.454545,1.627273,1.645455,1.718182,0.622222,1.909091,1.872727
CA,22.323529,1.832353,1.676471,1.973529,1.133333,1.844118,2.026471
CO,37.125000,2.362500,2.137500,2.325000,2.085714,2.112500,2.037500
CT,76.000000,1.366667,1.283333,1.783333,0.560000,1.116667,2.016667
DC,93.000000,3.100000,3.500000,2.900000,2.400000,2.200000,2.000000
DE,69.500000,1.450000,1.375000,1.800000,0.500000,1.775000,1.725000
FL,51.444444,1.677778,1.688889,1.522222,0.844444,1.288889,2.122222
GA,48.285714,1.200000,1.385714,1.142857,0.460000,1.128571,1.700000
HI,61.750000,1.500000,1.400000,1.533333,0.450000,1.425000,2.225000
IA,69.200000,1.680000,1.800000,2.140000,0.580000,2.040000,1.760000
ID,40.250000,1.450000,1.325000,1.650000,0.700000,0.975000,2.175000
IL,68.625000,1.662500,1.800000,1.787500,0.533333,1.875000,1.975000
IN,69.555556,1.922222,1.611111,1.555556,1.433333,2.133333,2.155556
KS,54.000000,1.950000,1.683333,2.050000,1.180000,2.033333,2.283333
KY,68.500000,1.325000,1.400000,1.550000,0.533333,1.175000,1.750000
LA,57.571429,1.514286,1.342857,1.271429,1.600000,1.442857,1.771429
MA,91.500000,1.800000,2.200000,1.966667,1.060000,1.350000,1.916667
MD,46.000000,1.925000,1.575000,2.350000,1.275000,1.525000,2.025000
ME,79.000000,1.766667,1.166667,1.900000,0.900000,2.033333,2.600000
MI,79.777778,1.744444,1.677778,1.877778,0.650000,1.877778,2.377778
MN,77.333333,2.016667,1.800000,2.216667,1.275000,2.133333,2.050000
MO,58.000000,1.683333,1.616667,1.550000,0.575000,1.850000,2.366667
MS,60.400000,1.260000,1.100000,1.520000,0.366667,1.180000,1.740000
MT,62.800000,1.960000,1.680000,2.000000,1.033333,2.140000,2.260000
NC,62.111111,1.500000,1.422222,1.888889,0.812500,1.277778,1.788889
ND,77.250000,1.875000,1.575000,2.000000,0.500000,2.475000,2.200000
NE,59.200000,1.840000,1.580000,2.000000,1.100000,1.920000,1.840000
NH,74.333333,1.366667,1.433333,1.933333,0.433333,1.300000,1.800000
NJ,72.800000,1.300000,1.160000,1.380000,0.450000,1.280000,1.800000
NM,15.200000,1.440000,1.520000,1.780000,0.533333,1.160000,1.960000
NV,20.250000,1.575000,1.525000,1.900000,0.533333,2.025000,1.650000
NY,91.666667,1.883333,1.416667,1.716667,2.266667,1.333333,2.216667
OH,82.250000,1.425000,1.637500,1.462500,0.542857,1.587500,1.812500
OK,33.500000,1.425000,1.500000,1.650000,0.566667,1.400000,1.825000
OR,67.875000,2.187500,1.962500,2.425000,1.850000,1.887500,2.237500
PA,81.250000,1.700000,1.750000,1.800000,0.566667,1.875000,2.300000
RI,86.000000,1.750000,1.275000,1.700000,2.300000,1.425000,1.850000
SC,28.666667,1.466667,1.700000,1.500000,0.366667,1.700000,1.933333
SD,59.250000,1.700000,1.600000,2.025000,0.533333,2.050000,2.200000
TN,72.285714,1.857143,1.371429,1.600000,1.850000,1.585714,1.857143
TX,60.600000,1.530000,1.530000,1.640000,0.800000,1.440000,2.000000
UT,38.250000,1.700000,1.700000,1.925000,0.533333,2.050000,1.925000
VA,75.750000,1.762500,1.687500,2.187500,0.800000,1.837500,1.887500
VT,87.000000,1.933333,1.233333,1.966667,0.700000,2.066667,2.766667
WA,80.625000,1.775000,1.775000,2.037500,0.857143,2.037500,2.100000
WI,78.857143,2.128571,1.928571,2.457143,1.085714,2.385714,2.128571
WV,75.600000,1.380000,1.100000,1.360000,0.450000,1.960000,1.460000
WY,50.500000,1.575000,1.425000,1.575000,0.450000,2.275000,1.675000

In [19]:
state_data.to_csv('clean/by_state.csv', index = False, header = True)