In [1]:
import pandas as pd

In [7]:
weatherCity = pd.read_csv('clean/Cities.csv')
bikeCity = pd.read_csv('clean/bike_data.csv')

In [13]:
weatherCity = weatherCity[['City', 'Value']]
justWeatherCity = weatherCity[['City']]
justWeatherCity['City'] = justWeatherCity['City'].str.upper()
justWeatherCity

c:\users\dcmil\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                   City
0      ARDEN-ARCADE, CA
1    CITRUS HEIGHTS, CA
2         ROSEVILLE, CA
3             DAVIS, CA
4          GLENDALE, CA
..                  ...
595        SYRACUSE, NY
596      YOUNGSTOWN, OH
597       KETCHIKAN, AK
598           SITKA, AK
599          JUNEAU, AK

[600 rows x 1 columns]

In [17]:
bikeCity = bikeCity[['City']]
z = bikeCity.merge(justWeatherCity, on='City', how='outer')

                  City
0       SPRINGDALE, AR
1             ENID, OK
2          DUBUQUE, IA
3       SOUTH BEND, IN
4    CRESTED BUTTE, CO
..                 ...
788           LYNN, MA
789        WYOMING, MI
790    CHEEKTOWAGA, NY
791      KETCHIKAN, AK
792          SITKA, AK

[793 rows x 1 columns]

In [ ]:
z.merge()