In [2]:
#import dependencies
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [3]:
#website we are scraping
url='https://wallethub.com/edu/cities-with-the-best-worst-weather/5043/'

In [4]:
#getting a response
response= requests.get(url)

In [5]:
#testing code
soup= bs(response.text, 'lxml')
soup.find_all('table', class_="cardhub-edu-table climaterank center-aligned")[0].text

IndexError: list index out of range

In [6]:

#<table class="cardhub-edu-table climaterank center-aligned">
xlist = soup.find_all('table', class_="cardhub-edu-table climaterank center-aligned")[0].text.replace('\n\n\n','+')\
.replace('\n',':').split('+')

counter=0
datalist=[]
for thing in xlist[1:-1]:
    Data={}
    if counter==0:
        x= thing.split(':')
        Data['City']=x[2]
        Data['Value']=x[1]
        counter+=1
    else:
        x= thing.split(':')
        counter+=1
        Data['City']=x[1]
        Data['Value']=x[0]
    datalist.append(Data)
print(datalist)

IndexError: list index out of range

In [41]:
print(Data['Roseville, CA'])

1

In [68]:
blue=pd.DataFrame(datalist)
blue

                   City Value
0      Arden-Arcade, CA     1
1    Citrus Heights, CA     1
2         Roseville, CA     1
3             Davis, CA     1
4          Glendale, CA     1
..                  ...   ...
595        Syracuse, NY   100
596      Youngstown, OH   100
597       Ketchikan, AK   100
598           Sitka, AK   100
599          Juneau, AK   100

[600 rows x 2 columns]

In [1]:
blue.to_csv("clean/cities.csv", index=False, header=True)

NameError: name 'blue' is not defined