In [1]:
import pandas as pd

In [2]:
#read in csv 
csv_path = "data/PlacesForBikes.csv"
bike_data = pd.read_csv(csv_path)
bike_data.head()

,Places_ID_2019,City,City_Alt,ACS Bike-to-Work Mode Share,Land Area,Population,ACS Target,ACS Normalized Score,ACS Ridership Points,SMS Recreation Riding,...,ACS Bike-to-Work Mode Share Men,ACS Bike-to-Work Mode Share Women,ACS Gap,ACS Tier,ACS_Target,Distance.1,ACS Points,Total Reach Points,Bonus,Total Ponts
0,363,"SPRINGDALE, ARKANSAS","SPRINGDALE, AR",0.30%,41.8,"77,252",12.60%,1.7,0.1,12.40%,...,0.01,0.00,0.01,1.0,-0.02,0.03,1.0,4.0,0.5,3.0
1,116,"ENID, OKLAHOMA","ENID, OK",0.70%,73.7,"50,809",11.50%,5.5,0.3,13.00%,...,0.01,0.00,0.01,2.0,-0.05,0.06,1.2,3.8,0.0,2.4
2,108,"DUBUQUE, IOWA","DUBUQUE, IA",0.40%,30.0,"58,410",20.80%,2.0,0.1,16.50%,...,0.00,0.00,0.00,1.0,-0.02,0.02,1.7,3.8,0.0,2.1
3,357,"SOUTH BEND, INDIANA","SOUTH BEND, IN",1.30%,41.5,"101,928",12.60%,7.8,0.4,15.80%,...,0.02,0.01,0.02,3.0,-0.60,0.62,3.1,3.7,0.0,2.0
4,1205,"CRESTED BUTTE, COLORADO","CRESTED BUTTE, CO",41.10%,0.8,"1,385",51.00%,75.6,3.8,18.80%,...,0.36,0.52,-0.16,3.0,-0.60,0.44,3.6,3.6,0.0,2.6

In [16]:
#drop unnecessary columns, first print column list and find the names of columns to keep. Dropping more columns than 
#keeping so easiest to just put kept columns into dictionary and make a new dataframe **note that the column for overall 
#score is called 'Total Ponts' and network is called 'Total Nework Points'

clean = { 'City' : bike_data['City_Alt'], 'Overall Score' : bike_data['Total Ponts'], 
         'Ridership' : bike_data['Total ridership score'], "Safety" : bike_data['Total Safety Points'], 
         'Acceleration' : bike_data['Total Acceleration Points'], 'Network' : bike_data['Total Nework Points'],
        'Reach' : bike_data['Total Reach Points']}

clean_bike_data = pd.DataFrame(clean)
clean_bike_data.head()

,City,Overall Score,Ridership,Safety,Acceleration,Network,Reach
0,"SPRINGDALE, AR",3.0,1.3,2.2,3.0,2.2,4.0
1,"ENID, OK",2.4,1.0,1.6,NaN,3.2,3.8
2,"DUBUQUE, IA",2.1,1.6,2.3,0.5,2.2,3.8
3,"SOUTH BEND, IN",2.0,1.7,1.9,0.6,2.1,3.7
4,"CRESTED BUTTE, CO",2.6,3.5,2.8,0.7,2.5,3.6
...,...,...,...,...,...,...,...
505,"BRIELLE, NJ",0.6,1.0,0.4,NaN,0.8,0.0
506,"TATAMY, PA",0.5,0.9,0.2,NaN,0.8,0.0
507,"FOXBOROUGH, MA",0.5,0.9,0.2,NaN,0.8,0.0
508,"HOOKSETT, NH",0.5,0.8,0.2,NaN,0.8,0.0
509,"PITTSFORD, NY",0.4,0.9,0.0,NaN,0.8,0.0

In [18]:
# Export cleaned data
clean_bike_data.to_csv("clean/bike_data.csv", index=False, header=True)